body{
	
	  background-color: #f5f5f5;
}

main{
	
	  background-color: #f5f5f5;
}


.ButtonPad{


	margin-right: 20PX;
	font-size: 25px;

}
.Debit{
	
	color : red;
	
}

.Credit{
	
	color : green;
}


.Custom-Background{
background: rgb(97,185,90);
background: linear-gradient(90deg, rgba(97,185,90,1) 0%, rgba(139,195,74,1) 100%);
font-size: 25px;
}

footer
{

margin-top: 2vh;
width: 100%;
min-height: 5VH;
display: flex;
flex-direction: column;
justify-content: flex-end;


}


.PMBAccount{
	
	display: flex;
	justify-content: space-between;
	
}


.dangerFrame{
	
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Logo-Background
{
display: flex;
background: rgb(97,185,90);
background: linear-gradient(90deg, rgba(97,185,90,1) 0%, rgba(139,195,74,1) 100%);
align-self : center;
justify-content: center;
width: 15vw;
font-size: 2vw;
height: 7vh;
}


.mainFrame{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}


.buttonMargin{

	margin-right: 10vw;
}

.buttonFrame
{
	min-height: 10vh;
}

.newsPart{

	margin-top: 6vh;
}

.fontInPMBAccount{

	font-size: 45px;
}

.breadcrumbClass{

	font-size: 25px;

}