<!doctype html>
<html lang="en">

<head>


	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="customProp.css">
	<!-- Favicons -->
	<meta name="theme-color" content="#7952b3">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>


	<!-- Custom styles for this template -->
	<link href="signin.css" rel="stylesheet">
</head>

<body>

	<main class="form-signin border border-dark rounded text-center bg-white">
		Failed Registration.

	</main>

	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>

</html>