<!doctype html>
<html lang="en">

<head>


	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<!-- Favicons -->
	<meta name="theme-color" content="#7952b3">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>


	<!-- Custom styles for this template -->
	<link href="home.css" rel="stylesheet">
	<link href="generalProperties.css" rel="stylesheet">

</head>

<body class="d-flex flex-column">


	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap" /></svg>
			<div
				class="Logo-Background w-120 text-white pb-2 pt-2 pl-2 pr-2  align-self-center rounded RemeberMeFontSize fw-bold">
				Pay My Buddy</div>
		</a>

		<ul class="nav nav-pills">
			<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
			<li class="nav-item"><a th:href="@{/transfer}" class="nav-link">Transfer</a></li>
			<li class="nav-item"><a th:href="@{/profileUser}" class="nav-link">Profile</a></li>
			<li class="nav-item"><a th:href="@{/contact}" class="nav-link">Contact</a></li>
			<form name="logoutForm" th:action="@{/logout}" method="post">
				<li class="nav-item"><button type="submit" class="nav-link">log Out</button></li>
			</form>
		</ul>
	</header>

	<nav aria-label="breadcrumb " class="breadcrumbClass">
		<ol class="breadcrumb bg-light fw-bold ">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
		</ol>
	</nav>

	<main class="container">

		<div class="PMBAccount">
			<h1 class="fw-bold">My PMB Account</h1>


			<div class=" dangerFrame bg-danger text-white fw-bold rounded FrameShadow"
				th:if="${withdrawErrorFlag != null }">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Error withdrawing the money, you don't have the sufficient ressources to do so</p>
			</div>

			<div class=" dangerFrame bg-danger text-white fw-bold rounded FrameShadow" th:if="${tooMuchMoney != null }">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Error depositing the money, you have reached the maximum amount possible on your account on PMBuddy
				</p>
			</div>


			<div class=" dangerFrame bg-danger text-white fw-bold rounded FrameShadow"
				th:if="${alreadyAddedBank != null }">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Error registering this bank, you already added it.
				</p>
			</div>


		</div>



		<div class="d-flex flex-column align-items-center pt-3">
			<div
				class="container p-4  d-flex align-items-center rounded sendMoneyContainer Custom-Background text-white mainFrame FrameShadow">
				<p class="fw-bold fontInPMBAccount">Available money</p>
				<P class="fw-bold fontInPMBAccount" th:text="${amountAvailable}" value="0"></P>
			</div>




			<div class="container bg-light d-flex justify-content-center align-items-center buttonFrame FrameShadow">


				<form th:action="@{/registerNewBank}" method="POST" class="d-flex" th:object="${newBankInformation}">

					<button class="ButtonPad btn SpecialColor display-5 fw-bold" type="button" data-bs-toggle="modal"
						data-bs-target="#BankModal">Add a new Bank</button>
					<!-- Modal -->
					<div class="modal fade" id="BankModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Add a new bank to your PMB account
									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<inputtype="text" class="form-control commonSize" placeholder="Your bank name"
										aria-label="Input group example" aria-describedby="basic-addon1"
										th:field="*{bankName}" required>
										<input type="text" class="form-control commonSize"
											placeholder="The Bank localization" aria-label="Input group example"
											aria-describedby="basic-addon1" th:field="*{location}" required>
										<input type="text" class="form-control commonSize" placeholder="Your BIC Code"
											aria-label="Input group example" aria-describedby="basic-addon1"
											th:field="*{bicCode}" required>
										<input type="text" class="form-control commonSize" placeholder="Your IBAN"
											aria-label="Input group example" aria-describedby="basic-addon1"
											th:field="*{iban}" required>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Add this new bank</button>
								</div>
							</div>
						</div>
					</div>
				</form>






				<button class="ButtonPad btn btn-primary display-5 fw-bold" type="button" data-bs-toggle="modal"
					data-bs-target="#TransactionModal">See all transactions</button>
				<!-- Modal -->
				<div class="modal fade" id="TransactionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">List of all your transactions</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">

								<table
									class=" FrameShadow table table-striped table-hover justify-content-center text-center tableFrame"
									align="center" data-page-length='3'>
									<thead>
										<tr>
											<th class="cellSize" scope="col">Operation</th>
											<th scope="col">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr class="font-weight-bold" th:each="transac : ${listOfAllOperations}">
											<td
												th:text="${transac.depositIsTrueWithdrawIsFalse == true ? 'Deposit' : 'Withdraw'}">
											</td>
											<td th:text="${transac.amount}"
												th:attr="class=${transac.depositIsTrueWithdrawIsFalse == true ? 'Credit' : 'Debit'}">
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>






				<form th:action="@{/withDrawPayment}" method="POST" class="d-flex" th:object="${withdrawalInformation}">

					<button class="ButtonPad btn btn-primary display-5 fw-bold" type="button" data-bs-toggle="modal"
						data-bs-target="#WithDrawModal">Withdraw</button>
					<!-- Modal -->
					<div class="modal fade" id="WithDrawModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Withdraw money from PayMyBuddy</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<select th:field="*{bankAccountToDoOperationID}" required>
										<option th:each="bud : ${listOfAllBankAccountOwned}" th:value="${bud.key}"
											th:text="${bud.value}" />
									</select>

									<input step="0.01" min="1" type="number" class="form-control commonSize"
										placeholder="Description of transaction" aria-label="Input group example"
										aria-describedby="basic-addon1" th:field="*{amount}" required>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Withdraw</button>
								</div>
							</div>
						</div>
					</div>
				</form>


				<form th:action="@{/DepositAmount}" method="POST" class="d-flex" th:object="${depositInformation}">

					<button class="ButtonPad btn btn-primary display-5 fw-bold" type="button" data-bs-toggle="modal"
						data-bs-target="#DepositModal">Deposit</button>
					<!-- Modal -->
					<div class="modal fade" id="DepositModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Deposit money to PayMyBuddy</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<select th:field="*{bankAccountToDoOperationID}" required>
										<option th:each="bud : ${listOfAllBankAccountOwned}" th:value="${bud.key}"
											th:text="${bud.value}" />
									</select>


									<input step="0.01" min="1" type="number" class="form-control commonSize"
										placeholder="How much do you want to deposit ?" aria-label="Input group example"
										aria-describedby="basic-addon1" th:field="*{amount}" required>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Deposit</button>
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>






















		</div>

		<DIV class="newsPart">
			<h1 class="fw-bold">Latest news</h1>
			<div class="d-flex flex-column align-items-center pt-3">

				<div
					class="container p-4 d-flex align-items-center rounded sendMoneyContainer bg-light text-PRIMARY mainFrame FrameShadow">
					<img src="green.png" width="200px"></img>
					<p class="fw-bold">Pay My Buddy recently received the award of green Tech Award ! With only fews
						pounds of CO² produced, we are the best. </p>
				</div>
				<div
					class="container bg-light d-flex justify-content-center align-items-center buttonFrame FrameShadow">
					<button class="btn btn-lg btn-primary fw-bold">See full news</button>
				</div>
			</div>


			<div class="d-flex flex-column align-items-center FrameShadow newsPart">

				<div
					class="container p-4  d-flex align-items-center rounded sendMoneyContainer bg-primary text-white mainFrame FrameShadow">
					<p class="fw-bold">Update your buddy account and received à 50% reductions in fee's !</p>
				</div>
				<div class="container bg-light d-flex justify-content-center align-items-center buttonFrame ">
					<button class="btn btn-lg btn-primary fw-bold">See offer</button>
				</div>
			</div>
		</DIV>
	</main>

</body>
<footer class="bg-light text-center text-lg-start">
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2021 Copyright:
		<a class="text-dark">Betsaleël Technologies Inc</a>
	</div>
	<!-- Copyright -->
</footer>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>

</html>