<!doctype html>
<html lang="en">

<head>


	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<!-- Favicons -->
	<meta name="theme-color" content="#7952b3">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="datatables.css">
	<!-- Custom styles for this template -->
	<link href="transfer.css" rel="stylesheet">
	<link href="generalProperties.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">


	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap" /></svg>
			<div
				class="Logo-Background w-120 text-white pb-2 pt-2 pl-2 pr-2  align-self-center rounded RemeberMeFontSize fw-bold">
				Pay My Buddy</div>

		</a>

		<ul class="nav nav-pills">
			<li class="nav-item"><a th:href="@{/userHome}" class="nav-link">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link  active" aria-current="page">Transfer</a></li>
			<li class="nav-item"><a th:href="@{/profileUser}" class="nav-link">Profile</a></li>
			<li class="nav-item"><a th:href="@{/contact}" class="nav-link">Contact</a></li>
			<li class="nav-item"><a th:href="@{/Logoff}" class="nav-link">Log Off</a></li>
		</ul>
	</header>

	<nav aria-label="breadcrumb " class="breadcrumbClass">
		<ol class="breadcrumb bg-light fw-bold ">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Transfer</li>
		</ol>
	</nav>

	<main class="d-flex flex-column">

		<DIV class="container ConnectionError" th:if="${errorFindingBuddy != null }">
			<div class="bg-danger text-white fw-bold rounded FrameShadow ConnectionContainer">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Couldn't add this buddy, please try another adress.</p>
			</div>
		</DIV>
		<DIV class="container ConnectionError" th:if="${errorPayingBuddy != null }">
			<div class="bg-danger text-white fw-bold rounded FrameShadow ConnectionContainer">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Couldn't pay this buddy, you don't have the sufficient amounts.</p>
			</div>
		</DIV>

		<DIV class="container ConnectionError" th:if="${errorInitializationAccountBuddy != null }">
			<div class="bg-danger text-white fw-bold rounded FrameShadow ConnectionContainer">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>Your buddy registered to the app, but didn't linked it to a bank account. You cannot send him money.
				</p>
			</div>
		</DIV>


		<DIV class="container ConnectionError" th:if="${cannotAddYourself != null }">
			<div class="bg-danger text-white fw-bold rounded FrameShadow ConnectionContainer">
				<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
					class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
					<path
						d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
					<path
						d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
				</svg>
				<p>You cannot add yourself to the list.</p>
			</div>
		</DIV>



		<div class="container mt-2">
			<div class="d-flex titlePayment">
				<h3 class="display-6 fw-bold">Send Money</h3>
				<button type="button" class="btn btn-primary display-6 fw-bold" data-bs-toggle="modal"
					data-bs-target="#exampleModal">
					Add Connection
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add a new connexion</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">

								<form th:action="@{/transfer_validation}" th:object="${buddy}" method="post">
									<input type="text" class="form-control commonSize" placeholder="EmailAdress"
										aria-label="Input group example" aria-describedby="basic-addon1"
										th:field="*{email}" required>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Save this new buddy</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" FrameShadow container p-4 bg-light d-flex align-items-center sendMoneyContainer">


				<form th:action="@{/processingPayment}" method="POST" th:object="${paymentID}" class="d-flex ">


					<select class="sendMoneyFrame" th:field="*{personToPay}" required>
						<option th:each="name : ${listOfBuddies}" th:value="${name.key}" th:text="${name.value}" />
					</select>

					<input step="0.01" min="1" class="sendMoneyFrame" type="number" th:field="*{amount}" required />

					<button class="Logo-Background text-white border border-white rounded fw-bold" type="button"
						data-bs-toggle="modal" data-bs-target="#ModalDesc">Pay</button>


					<!-- Modal -->
					<div class="modal fade" id="ModalDesc" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Create a new transaction</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p>A 0.5% fee will be applied to the amount you send to your Buddy.</p>
									<input type="text" class="form-control commonSize"
										placeholder="Description of transaction" aria-label="Input group example"
										aria-describedby="basic-addon1" th:field="*{description}" required>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Send money to buddy</button>
								</div>
							</div>
						</div>
					</div>

				</form>

			</div>

			<h3 class="display-6 fw-bold">My Transactions</h3>
			<table id="myTable"
				class=" FrameShadow table table-striped table-hover justify-content-center text-center tableFrame"
				align="center" data-page-length='3'>
				<thead class="headClass">
					<tr class="tableHeadClass text-white">
						<th class="cellSize" scope="col">Connections</th>
						<th scope="col">Description</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr class="font-weight-bold" th:each="transac : ${listTransactions}">
						<td th:text="${transac.payee.id == currentUser.id ? transac.payeur.name : transac.payee.name}">
						</td>
						<td th:text="${transac.commentaire}"></td>
						<td th:text="${transac.amount}"
							th:attr="class=${transac.payee.id == currentUser.id ? 'Credit' : 'Debit'}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		</div>
	</main>
</body>

<footer class="bg-light text-center text-lg-start">
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2021 Copyright:
		<a class="text-dark">Betsaleël Technologies Inc</a>
	</div>
	<!-- Copyright -->
</footer>


<script type="text/javascript" charset="utf8" src="datatables.js"></script>
<script>
	$(document).ready(function () {
		$('#myTable').dataTable({
			"searching": false,
			"dom": '<t<"LOL"p>>',
		});
	});
</script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>

</html>